body {
    font-family: Arial, sans-serif;
    margin: 25px;
}

h1 {
    text-align: center;
}

input, button {
    width: 100%;
    margin: 20px 0;
}

button {
    background-color: #48ff00;
    color: rgb(0, 0, 0);
    border: none;
}

table {
    width: 100%;
    margin-top: 25px;
}

td {
    padding: 10px;
}